.produitDiv{
  border:3px solid red;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
  height: 550px;
}

.mainImage {
  border: 2px solid blue;
  width: 30%;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.productInfo {
  border: 2px solid blue;
  width: 60%;
  justify-content: space-between;
}

.prodDescription {
  border: 2px solid green;
  width: 65%;
}

.prodPrice {
  border: 2px solid green;
  width: 30%;
  text-align: center;
}

img {
  height: 90%;
  /* margin-left: 90px;
  margin-top: 25px; */
}

.divImg {
  border: 1px solid red;
  /* width: 0%; */
  height: 90%;
}