@media(max-width:767px){
  .produitDiv{
    flex-direction: column;
    height: 100% !important;
    align-items: center;
  }
  .mainImage {
    width: 85% !important;
    height: 250px !important;
    margin-top: 1.5rem;
    box-shadow: 0 10px 6px -6px #777;
  }
  .productInfo {
    width: 80% !important;
    padding-top: 2rem;
    text-align: justify;
  }
  .prodPrice {
    height: 15% !important;
  }
  .prodDescription {
    height: 90% !important;
  }
  h4 {
    text-align: left;
  }
}  

.produitDiv{
  /* border:3px solid red; */
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  height: 550px;
}

.mainImage {
  /* border: 2px solid blue; */
  width: 30%;
  height: 90%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.productInfo {
  /* border: 2px solid blue; */
  width: 60%;
  justify-content: space-between;
}

.prodDescription {
  /* border: 2px solid green; */
  /* width: 65%; */
  height:80%;
}

.prodPrice {
  /* border: 2px solid green; */
  /* width: 30%; */
  text-align: left;
  height:20%;
}

img {
  height: 90%;
  /* margin-left: 90px;
  margin-top: 25px; */
}

.divImg {
  /* border: 1px solid red; */
  /* width: 0%; */
  height: 90%;
}

p {
  font-size: 15px;
}

h4 {
  padding-bottom: 1rem;
  font-weight: bolder;
}