@media(max-width:767px){
  .container-account {
    flex-direction: column !important;
    align-items: center;
  }  
}  

.flex-center {
  display:flex;
  justify-content: center;
}
.container-account {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2rem 0;
  width: 90%;
}

app-user-update, app-user-devis {
  display:none;
}

.list-group-item.active {
  background-color: #1d1d1b;
  border-color: #1d1d1b;
}