<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Quantité</th>
        <th scope="col">Prix</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>24/02/2018</td>
        <td>100</td>
        <td>100 €</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>25/04/2018</td>
        <td>500</td>
        <td>450 €</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>04/06/2018</td>
        <td>2000</td>
        <td>1800 €</td>
      </tr>
    </tbody>
  </table>
