<section class="container-action">
  <div class="left-element">
    <div>
      <h3>Le Basil Seed Drink, boisson originale</h3>
      <p>
        Le Basil Seed Drink est une boisson de Sawasdee ressemblant au Bubble tea (boisson à base de thé/lait aromatisé et de perles
        de tapioca originaire de Taïwan). Cette petite bouteille en verre de 290 ml contient des « basil seed », des graines
        de basilic qui se dilatent dans l’eau ressemblant alors à plein de petits têtards !
      <p>
    </div>
    <div>
      <a routerLink="/liste-produit">
        <button type="button" class="btn btn-primary">DECOUVRIR NOS PRODUITS</button>
      </a>
    </div>
  </div>
  <div class="right-element">
    <img src="" alt="">
  </div>
</section>