/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.css';



.container {
  display: flex;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.container-col {
  display: flex;
  flex-direction: column;
}

body {
  background-color: #f6f0df;
  margin: 0;
  padding: 0;
}

.bottleBlur:hover {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.bottleUnblur:hover {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}
