<div class="w--carousel container test">
</div>
<div class="row bottleRow">
  <div (mouseenter)="bottleBlur()" (mouseleave)="bottleUnblur()" class="w--carousel-item col-sm">
    <img src="../../assets/MrBasil_FruitCocktail.jpg" alt="bouteille 1">
  </div>
  <div (mouseenter)="bottleBlur()" (mouseleave)="bottleUnblur()" class="w--carousel-item col-sm">
    <img src="../../assets/MrBasil_Green_tea.jpg" alt="bouteille 2">
  </div>
  <div (mouseenter)="bottleBlur()" (mouseleave)="bottleUnblur()" class="w--carousel-item col-sm">
    <img src="../../assets/MrBasil_Honey.jpg" alt="bouteille 3">
  </div>
  <div (mouseenter)="bottleBlur()" (mouseleave)="bottleUnblur()" class="w--carousel-item col-sm">
    <img src="../../assets/MrBasil_Kiwi.jpg" alt="bouteille 4">
  </div>
  <div (mouseenter)="bottleBlur()" (mouseleave)="bottleUnblur()" class="w--carousel-item col-sm">
    <img src="../../assets/MrBasil_Lichye.jpg" alt="bouteille 5">
  </div>
</div><!--  fin wrap -->

<router-outlet></router-outlet>


<!--
<div [ngClass]="{  overedClass:  mouseOvered === true }" 
        (mouseout)="onMouseOut()"
        (mouseover)="onMouseOver()">Hover me</div>
-->
