<section>
  <div class="homeView">
    <div class="w--carousel">
    </div>
    <div class="row bottleRow">
      <div (mouseenter)="bottleBlur()" (mouseleave)="bottleUnblur()" class="w--carousel-item col-sm">
        <img src="../../assets/MrBasil_FruitCocktail copie.png" alt="bouteille 1">
      </div>
      <div (mouseenter)="bottleBlur()" (mouseleave)="bottleUnblur()" class="w--carousel-item col-sm">
        <img src="../../assets/MrBasil_Green_tea copie.png" alt="bouteille 2">
      </div>
      <div (mouseenter)="bottleBlur()" (mouseleave)="bottleUnblur()" class="w--carousel-item col-sm">
        <img src="../../assets/MrBasil_Honey copie.png" alt="bouteille 3">
      </div>
      <div (mouseenter)="bottleBlur()" (mouseleave)="bottleUnblur()" class="w--carousel-item col-sm">
        <img src="../../assets/MrBasil_Kiwi copie.png" alt="bouteille 4">
      </div>
      <div (mouseenter)="bottleBlur()" (mouseleave)="bottleUnblur()" class="w--carousel-item col-sm">
        <img src="../../assets/MrBasil_Lichye copie.png" alt="bouteille 5">
      </div>
    </div><!--  fin wrap -->
  </div>
</section>

<section class="sectionBis">
  <div class="homeMessage">
    <h2>BESOIN D'INFORMATIONS SUR NOS TARIFS ?</h2>
    <p>Remplissez un formulaire rapide et recevez des devis à tarifs préférentiels.</p>
    <div>
      <a routerLink="/devis">
        <button type="button" class="btn btn-primary">DEMANDER UN DEVIS</button>
      </a>
    </div>
  </div>

</section>

<app-appel-action></app-appel-action>
<app-footer></app-footer>




<router-outlet></router-outlet>


<!--
<div [ngClass]="{  overedClass:  mouseOvered === true }" 
        (mouseout)="onMouseOut()"
        (mouseover)="onMouseOver()">Hover me</div>
-->