@media(max-width:1200px){
  .homeView{
    display:none;
  }
  .sectionBis {
    display:flex !important;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-image: url('../../assets/Mr.-Basil-Basil-Seed-Juice-Drink_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .homeMessage {
    background: rgba(32,32,32,.7);
    color: white;
    width: 59%;
    text-align: center;
    padding: 1rem;
  }
  .homeMessage p{
    font-size: 1rem;
  }
}  

@media(max-width:767px){
  .sectionBis {
    display:flex !important;
    height: 300px;
    background-image: url('../../assets/Mr.-Basil-Basil-Seed-Juice-Drink_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
  }
  .homeMessage {
    background:rgba(32,32,32,.8);
    color:white;
    width: 80%;
    text-align: center;
    padding: 1rem;
  }
}  

@media(max-width:420px){
  .homeMessage {
    background:rgba(32,32,32,.8);
    color:white;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1rem;
  }
}  

/* .homeView {
  display:flex;
  flex-direction: column;
  justify-content: center;

} */

h2, h3 {
  font-weight: bolder;
}
.sectionBis {
  display:none;
}

img{
 width:12rem;
 padding:15px;
}

.w--carousel {
  height: 35rem;
  background-image: url('../../assets/background-accueil.jpg');
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  align-items: flex-start;
  /* justify-content: space-around; */
}
.w--carousel:hover{

}

.w--carousel-item img {
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.w--carousel-item {
  width: 10%;
  height: 10%;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.test {
  padding-top: 5rem;
  padding-left: 1rem;
  /* align-items: flex-start;
  justify-content: space-around; */
  list-style-type:none;
}

.bottleRow {
  position: absolute;
top: 15rem;
left: 7rem;
}

.bottleBlur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  /* border:10px solid red; */
}
.bottleBlur:hover {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  padding:0;

}
.bottleUnblur {
  padding:0;
  -webkit-filter: blur(0px);
  filter: blur(0px);

}







