<div class="w--carousel">
</div>
<div class="row bottleRow">
  <div (mouseenter)="bottleBlur()" (mouseleave)="bottleUnblur()" class="w--carousel-item col-sm">
    <img src="../../assets/MrBasil_FruitCocktail copie.png" alt="bouteille 1">
  </div>
  <div (mouseenter)="bottleBlur()" (mouseleave)="bottleUnblur()" class="w--carousel-item col-sm">
    <img src="../../assets/MrBasil_Green_tea copie.png" alt="bouteille 2">
  </div>
  <div (mouseenter)="bottleBlur()" (mouseleave)="bottleUnblur()" class="w--carousel-item col-sm">
    <img src="../../assets/MrBasil_Honey copie.png" alt="bouteille 3">
  </div>
  <div (mouseenter)="bottleBlur()" (mouseleave)="bottleUnblur()" class="w--carousel-item col-sm">
    <img src="../../assets/MrBasil_Kiwi copie.png" alt="bouteille 4">
  </div>
  <div (mouseenter)="bottleBlur()" (mouseleave)="bottleUnblur()" class="w--carousel-item col-sm">
    <img src="../../assets/MrBasil_Lichye copie.png" alt="bouteille 5">
  </div>
</div><!--  fin wrap -->

<app-appel-action></app-appel-action>
<app-footer></app-footer>

<router-outlet></router-outlet>


<!--
<div [ngClass]="{  overedClass:  mouseOvered === true }" 
        (mouseout)="onMouseOut()"
        (mouseover)="onMouseOver()">Hover me</div>
-->
